<!doctype html>
<html lang="fr" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Supervision des batchs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <title>MOST : Supervision des Batchs</title>

    <!-- Fichiers CSS -->
    <link rel="stylesheet" type="text/css" href="vendor/css/googleapis-materialIcons.css" />
    <link rel="stylesheet" type="text/css" href="vendor/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />

    <script src="resources/mocks.js" type="text/javascript"></script>
  </head>

  <body  ng-controller="mainCtrl">

    <div id="navbar">
      <span id="pageTitle">Supervision des Traitements</span>
    </div>

    <div id="batchsMonitoring" class="container">

      <div id="filters" class="col-lg-12 col-md-12 col-sm-12">
        <button id="btnAll" class="btn btn-default btn-sm selected" toggle-class="selected" data-ng-click="addFilter('ALL')">Tous</button>
        <button id="btnOK" class="btn btn-default btn-sm" toggle-class="selected" data-ng-click="addFilter('OK')"><div class="statusIcon OK"></div><span class="textFilter">OK</span><br><span class="mainCpt">20</span></button>
        <button id="btnKOF" class="btn btn-default btn-sm" toggle-class="selected" data-ng-click="addFilter('KOF')"><div class="statusIcon KOF"></div><span class="textFilter">KOF</span><br><span class="mainCpt">5</span></button>
        <button id="btnKOT" class="btn btn-default btn-sm" toggle-class="selected" data-ng-click="addFilter('KOT')"><div class="statusIcon KOT"></div><span class="textFilter">KOT</span><br><span class="mainCpt">1</span></button>
        <button id="btnKOT" class="btn btn-default btn-sm" toggle-class="selected" data-ng-click="addFilter('EC')"><div class="statusIcon EC"></div><span class="textFilter">EN COURS</span><br><span class="mainCpt">2</span></button>
        <button id="btnCTI" class="btn btn-default btn-sm selected" toggle-class="selected" data-ng-click="addFilter('CTI')">∅ CTI</button>
        <div id="datePickerDiv"><label id="labelDatePicker" for="datePicker">Visionner le :</label><input id="datePicker" type="date" data-ng-change="changeDate()" data-ng-model="date"/></div>
      </div>

      <table id="tab" class="table">
        <thead>
          <tr>
            <th>Traitement
            </th>
            <th>Début
            </th>
            <th>Fin
            </th>
            <th>Durée
            </th>
          </tr>
        </thead>
        <tr data-ng-repeat="batch in batchs" data-ng-click="batchClicked(batch.name)">
          <td><div data-ng-class="batch.status" class="statusIcon"></div><span  data-ng-class="{'notReferenced': batch.notReferenced}" >{{batch.name}}</span></td>
          <td>{{batch.start}}</td>
          <td>{{batch.end}}</td>
          <td>{{batch.duration}}</td>
        </tr>
      </table>

      <div class="divPagination">
        <ul class="pagination pagination-sm">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
        </ul>
      </div>
      </div>

      <div id="UTMonitoring" class="container" data-ng-show="UTVisible">
        <div id="UTTitle">Détails du Batch {{batchSelected}}</div>


<div id="tabUTs">
  <div class="col-lg-12 col-sm-12 col-md-12 theadUTs noPadding">
    <div class="col-lg-5 col-md-5 col-sm-5 th">Unité de Traitement</div>
    <div class="col-lg-7 col-md-7 col-sm-7 noPadding">
      <div class="col-lg-2 col-md-2 col-sm-2 th">Type</div>
      <div class="col-lg-4 col-md-4 col-sm-4 th">Nb d'enregistrements</div>
      <div class="col-lg-3 col-md-3 col-sm-3 th">Début/Fin</div>
      <div class="col-lg-2 col-md-2 col-sm-2 th">Durée</div>
      <div class="col-lg-1 col-md-1 col-sm-1 th">+</div>
    </div>
  </div>

  <div data-ng-repeat="UT in UTs" class="col-lg-12 col-sm-12 col-md-12 trUT noPadding">
    <div class="col-lg-12 col-sm-12 col-md-12 tr noPadding">
      <div class="col-lg-5 col-md-5 col-sm-5 td"><div data-ng-class="UT.status" class="statusIcon"></div><span class="batchsCell">{{UT.name}}</span></div>
      <div class="col-lg-7 col-md-7 col-sm-7 noPadding">
        <div class="col-lg-2 col-md-2 col-sm-2 td">{{UT.type}}</div>
        <div class="col-lg-4 col-md-4 col-sm-4 td">OK: {{UT.nbOK}}<br>KOF: {{UT.nbKOF}}<br>KOT: {{UT.nbKOT}}</div>
        <div class="col-lg-3 col-md-3 col-sm-3 td">{{UT.start}}<br>{{UT.end}}</div>
        <div class="col-lg-2 col-md-2 col-sm-2 td">{{UT.duration}}</div>
        <div class="col-lg-1 col-md-1 col-sm-1 td"><i class="glyphicon glyphicon-plus" data-ng-click="stepVisible = !stepVisible" data-ng-show="UT.type == 'JAVA'"></i></div>
      </div>
    </div>
    <div class="tabSteps">
      <div class="col-lg-12 col-sm-12 col-md-12 theadSteps" data-ng-show="stepVisible">
        <div class="col-lg-5 col-md-5 col-sm-5 thSteps">Etape</div>
        <div class="col-lg-3 col-md-3 col-sm-3 thSteps">Nb d'enregistrements</div>
        <div class="col-lg-2 col-md-2 col-sm-2 thSteps">Durée totale</div>
        <div class="col-lg-2 col-md-2 col-sm-2 thSteps">Durée moyenne</div>
      </div>
      <div id="details" data-ng-repeat="step in UT.steps" class="col-lg-12 col-sm-12 col-md-12 trStep" data-ng-show="stepVisible">
        <div class="col-lg-5 col-md-5 col-sm-5 tdSteps"><div data-ng-class="step.status" class="statusIcon"></div><span class="batchsCell">{{step.name}}</span></div>
        <div class="col-lg-3 col-md-3 col-sm-3 tdSteps"><span class="bold">OK:</span> {{step.nbOK}} <span class="bold">KOF:</span> {{step.nbKOF}} <span class="bold">KOT:</span> {{step.nbKOT}}</div>
        <div class="col-lg-2 col-md-2 col-sm-2 tdSteps">{{step.totalDuration}}</div>
        <div class="col-lg-2 col-md-2 col-sm-2 tdSteps">{{step.averageDuration}}</div>
      </div>
    </div>
  </div>
</div>

      </div>
<!--FIN ESPACE SECONDAIRE-->
    </div>
    <!--FIN PAGE-->


<!-- Librairies javascript -->
  <script src="vendor/js/angular.min.js" type="text/javascript"></script>
  <script src="vendor/js/jquery-1.12.2.min.js" type="text/javascript"></script>
  <script src="vendor/js/materialize.min.js"></script>
  <script src="resources/mocks.js" type="text/javascript"></script>
  <script src="controllers/mainCtrl.js" type="text/javascript"></script>
  </body>
  </html>
